.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    height: 100vh; 
    width: 1000px; 
}

.child:nth-child(even){
    background-color: slategray;
}

.child:nth-child(odd){
    background-color: grey;
}

.child {
    width: 100px; 
    height: 150px; 
    text-align: center; 
    background-color: grey;
    display: absolute;
    line-height: 150px; 
    margin: 10px;
    box-sizing: border-box;
    border-left: 8px dotted blue;
}
.child:hover {
    background-color: yellow;
}

.child:last-child {
    position: absolute; 
    bottom: 0; 
    right: 0; 
    background-image: linear-gradient(to right, yellow, rgb(252, 37, 73));}
.child:last-child:hover{
    transform: scale(1.1);
}   